In [2]:
import pandas as pd

from poke import exclude_variant, plot_data

In [ ]:
# Data frame that includes all Pokemon variations:
# Mega, White, Black, Forme, Size 
all_variations = pd.read_csv('Pokemon.csv')
all_variations.head()

In [ ]:
# Dataframe that excludes 'Mega' Pokemon
df_no_mega = exclude_variant(dataFrame=all_variations, variant='Mega')
df_no_mega.head()

In [ ]:
all_variations.describe()

In [ ]:
# Top ten highest attack pokemon - including all variations
df_attack = all_variations[all_variations['Attack'] > 164.000000]

plot_data(x='Attack', y='Name', dataFrame=df_attack, sortType='Attack', headSize=10)

In [ ]:
# Top ten highest special attack pokemon - including all variations
df_spk_attack = all_variations[all_variations['Sp. Atk'] > 164.000000]

plot_data(x='Sp. Atk', y='Name', dataFrame=df_spk_attack, sortType='Sp. Atk', headSize=10)

In [ ]:
# Top ten highest attack Pokemon - including legendary, excluding mega 
# * including Pokemon tied at 149 so top 13
df_attack = df_no_mega[df_no_mega['Attack'] > 149.000000]

plot_data(x='Attack', y='Name', dataFrame=df_attack, sortType='Attack', headSize=13)

In [ ]:
# Top ten highest attack Pokemon - including mega, excluding legendary
df_no_legendary = all_variations[(all_variations['Legendary']) == False]
df_attack = df_no_legendary[df_no_legendary['Attack'] > 149.000000]

plot_data(x='Attack', y='Name', dataFrame=df_attack, sortType='Attack', headSize=10)

In [ ]:
# Top ten highest attack Pokemon - excluding legendary and mega
# * including Pokemon tied at 134 so top 13
df_no_mega_legendary = df_no_mega[(df_no_mega['Legendary']) == False]
df_attack = df_no_mega_legendary[df_no_mega_legendary['Attack'] > 134.000000]

plot_data(x='Attack', y='Name', dataFrame=df_attack, sortType='Attack', headSize=13)

In [ ]:
# Top ten highest attack Pokemon - only legendary
df_only_legendary = df_no_mega[df_no_mega['Legendary'] == True]
df_attack = df_only_legendary[df_only_legendary['Attack'] > 149.000000]

plot_data(x='Attack', y='Name', dataFrame=df_attack, sortType='Attack', headSize=10)